@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Rubik&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Rubik', sans-serif;
	}
}

@layer components {
	.card {
		margin: 20px 10px 0;
		min-width: 20vw;
		aspect-ratio: 3 / 3.5;
		border-radius: 2px;
		background: -moz-linear-gradient(
			top,
			rgba(229, 229, 229, 0) 42%,
			rgba(229, 229, 229, 0.4) 65%,
			rgba(255, 255, 255, 1) 100%
		); /* FF3.6-15 */
		background: -webkit-linear-gradient(
			top,
			rgba(229, 229, 229, 0) 42%,
			rgba(229, 229, 229, 0.4) 65%,
			rgba(255, 255, 255, 1) 100%
		); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(
			to bottom,
			rgba(229, 229, 229, 0) 42%,
			rgba(229, 229, 229, 0.4) 65%,
			rgba(255, 255, 255, 1) 100%
		); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		perspective: 1000px;
		overflow: hidden;
		z-index: 10;
	}
	.card-front {
		position: absolute;
		height: 100%;
		width: 100%;
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		padding: 2px;
	}
	.card-back {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		z-index: -2;
		object-fit: cover;
	}
	.card-inner {
		position: relative;
		transform-style: preserve-3d;
		width: 100%;
		height: 100%;
	}
	.card-toggle {
		transform: rotateY(180deg);
	}

	.input-field {
		@apply border-2 border-gray-400 rounded-md grow indent-1;
	}

	.account-update-button {
		@apply mr-4 text-blue-300 hover:text-blue-700;
	}

	.account-update-label {
		@apply text-2xl whitespace-nowrap text-gray-300 indent-4;
	}

	.account-update-wrapper {
		@apply flex flex-row flex-wrap mb-2;
	}

	.dot-animation {
		position: absolute;
		right: 0;
		animation: loading-dot 4s ease-in-out;
	}

	.title {
		@apply text-4xl indent-2 p-2 font-bold;
	}

	.bg-glassmorph {
		background: rgba(255, 255, 255, 0.9);
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(4px);
	}

	.boxshadow-bottom {
		-webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.6);
		-moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.6);
		box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.6);
	}

	.bg-gradient {
		background: -moz-linear-gradient(
			-45deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0.65) 100%
		);
		background: -webkit-linear-gradient(
			-45deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0.65) 100%
		);
		background: linear-gradient(
			135deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0.65) 100%
		);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
	}

	.star-fill-first {
		left: 0;
	}
	.star-fill-second {
		left: 20px;
	}
	.star-fill-third {
		left: 40px;
	}
	.star-fill-fourth {
		left: 60px;
	}
	.star-fill-fifth {
		left: 80px;
	}
}

@keyframes loading-dot {
	0% {
		opacity: 0;
	}
	45% {
		opacity: 1;
	}
	49% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(100%);
	}
	74% {
		transform: translateX(100%);
	}
	75% {
		transform: translateX(200%);
	}
	85% {
		opacity: 1;
		transform: translateX(200%);
	}
	100% {
		transform: translate(300%, 100%) rotate(30deg);
		opacity: 0;
	}
}
